services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - product-tracker-net
    healthcheck:
      test: ["CMD-SHELL", "echo stat | nc localhost 2181"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - product-tracker-net

  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-productdb}
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-user} -d ${POSTGRES_DB:-productdb}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - product-tracker-net

  product-service:
    build:
      context: . # Контекст сборки - вся родительская папка
      dockerfile: ./producttracker/Dockerfile # Путь к Dockerfile относительно контекста
    container_name: product-service
    depends_on:
      kafka:
        condition: service_started
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB:-productdb}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER:-user}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD:-password}
    networks:
      - product-tracker-net

  notification-service:
    build:
      context: . # Контекст сборки - вся родительская папка
      dockerfile: ./notification-service/Dockerfile # Путь к Dockerfile относительно контекста
    container_name: notification-service
    depends_on:
      - kafka
    ports:
      - "8081:8081"
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - TELEGRAM_BOT_USERNAME=${TELEGRAM_BOT_USERNAME}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - NOTIFICATION_CHAT_ID=${NOTIFICATION_CHAT_ID}
    networks:
      - product-tracker-net

networks:
  product-tracker-net:
    driver: bridge